#switch{
  position: relative;
  top: 400px;
  left: 400px;
  color: white
  text-align:center;
}
#switch h1{
  color: white;
  font-size: 60px;
}
#font{
  font-family: 'Nova Flat', cursive;
  color: green;
}
.radio{
  font-family: 'Nova Flat', cursive;
}
.panel-title{
  font-family: 'Nova Flat', cursive;
}
